/*! FONTS */

@font-face {
    font-family: 'gilroy-ultralightuploadedfile';
    src: url('fonts/gilroy-ultralight-webfont.woff2') format('woff2'),
         url('fonts/gilroy-ultralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'gilroy-ultralightuploadedfile';
    src: url('fonts/gilroy-ultralightitalic-webfont.woff2') format('woff2'),
         url('fonts/gilroy-ultralightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'montserratthin_italic';
    src: url('fonts/montserrat-italic-variablefont_wght-webfont.woff2') format('woff2'),
         url('fonts/montserrat-italic-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'montserratthin';
    src: url('fonts/montserrat-variablefont_wght-webfont.woff2') format('woff2'),
         url('fonts/montserrat-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'ralewaythin_italic';
    src: url('fonts/raleway-italic-variablefont_wght-webfont.woff2') format('woff2'),
         url('fonts/raleway-italic-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'ralewaythin';
    src: url('fonts/raleway-variablefont_wght-webfont.woff2') format('woff2'),
         url('fonts/raleway-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'zorus_serifitalic';
    src: url('fonts/zorus_serif_italic-webfont.woff2') format('woff2'),
         url('fonts/zorus_serif_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'zorus_serifnormal';
    src: url('fonts/zorus_serif-webfont.woff2') format('woff2'),
         url('fonts/zorus_serif-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;}

/*! HEADER/LINKS */

#header {
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: transparent;
  z-index: 2;
  opacity: .92;
  margin: 0 auto;
  font-family: 'montserratthin';
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: ghostwhite;
}
.left-links, .right-links, .center-link {
  display: flex;
  align-items: center;
}
.left-link, .link-right {
  display: flex;
  padding-top: 10px;
  padding-bottom: 5px;
}
.left-link {
  padding-left: 5px;
}
.link-right {
  padding-left: 30px;
}
.left-links,
.right-links, .left-link, .link-right {
  position: fixed;
  top: 0;
  height: 50px;
  width: 100px;
  background-color: black;
  text-decoration: none;
  color: ghostwhite;
  font-size: 18px;
}
.left-links, .left-link {
  border-radius: 0% 0% 150% 0%;
  left: 0;
}
.right-links, .link-right {
  border-radius: 0% 0% 0% 150%;
  right: 0;
}
.left-links,
.center-link,
.right-links {
  background-color: black;
}
.left-links a,
.center-link a,
.right-links a {
  background-color: black;
}
.left-links a:hover,
.center-link a:hover,
.right-links a:hover {
  background-color: ghostwhite;
  color: black;
}
.expanded-links {
  display: none;
  position: absolute;
  top: 40px;
  left: 20px;
  background-color: black;
  border-radius: 50%;
  padding: 10px;
  z-index: 3;
}
.expanded-links.show,  {
  display: flex;
  align-items: center;
  flex-direction: column;
  left: 20px;
  top: 20px;
}
#project-expanded-one {
  top: 20px;
  left: 100px;
}
#project-expanded-two {
  top: 100px;
  left: 60px;
}
#project-expanded-three {
  top: 150px;
  left: 20px;
}
.link-left {
  position: fixed;
  width: 100px;
  height: 40px;
  transform: skew(-28deg);
  background: black;
  border-radius: 25% 5% 25% 5%;
  color: ghostwhite;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.center-link, .header-text {
  height: 125px;
  width: 300px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 0% 0% 150% 150%;
  color: whitesmoke;
  text-decoration: none;
  font-size: 32px;
  font-family: 'zorus_serifnormal';
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}
.header-text {
  display: flex;
  align-items: center;
  justify-content: center; /* Center the content vertically */
}

/*! MAIN BODY */

body {
  margin: 0 auto;
  width: 100%; 
  display: block;
  position: relative;
  background-color: #000000;
  font-family: 'ralewaythin';
}


/*index.html*/
#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding-top: 50px;
  top: 225px;
  position: absolute;
}

/*  CSS For Project Pages */
#projects, #lotusmane, #new-projects  {
  position: absolute;
}
.project-tile {
  min-width: 225px;
  padding: 25px;
}
.projects, #links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
}
#links {
  padding-bottom: 20px;
}
.link, .extra-links {
  width: 75px;
  height: 75px;
  border-radius: 30%;
  padding-right: 10px;
  padding-left: 10px;
}
#upcoming {
  border-style: solid 1px;
  border-radius: 15%;
  width: 300px;
  height: 200px;
  margin: 20px 45px 40px 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: black;
  animation: upcoming-animation 4s linear 0s infinite alternate-reverse;
}
.upcoming-projects {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
}
.all-upcoming {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}
.lotusmane-coverart {
  top: 10px;
  height: 400px;
  position: relative;
  width: 500px;
  border-radius: 100%;
  object-fit: cover;
}
#beatpack {
  border: 1px dotted;
  border-radius: 4%;
  height: 40px;
  width: 120px;
  margin-bottom: 10px;
}

/*  CSS for Extra Page  */
#extra {
  position: absolute;
  display: flex;
  flex-direction: column;
}
.about-me {
  position: relative;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #969ae5, #919ae9, #8c9aed, #988ded, #aa7ee9, #bd6be0, #d153d1);
  opacity: .9;
  height: 250px;
  border-radius: 15% 15% 30% 30%;
}
p {
  width: 50%;
  font-family: georgia;
}
.beat {
  width: 100%;
  padding-top: 5px;
  margin: 0;
}

/* Background Shapes and Elements */ 
.container {
  width: 100%;
  height: 100vw;
  top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  color: ghostwhite;
  overflow: hidden;
  position: relative;
  z-index: 1;
  opacity: 1;
}
.container .background-svg {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}
.container > *:not(svg) {
  -webkit-transition: opacity 2s;
  -moz-transition: opacity 2s;     
  transition: opacity 2s ease-in-out; 
  will-change: opacity;
}
.container.fade-in > *:not(svg) {
  opacity: 1;
}
.container.fade-out > *:not(svg) {
  opacity: 0;
}

/* Animations */
@keyframes upcoming-animation {
  from {
    width: 200px;
    height: 200px;
    border-radius: 35%;
  }
  to {
    width: 210px;
    height: 210px;
    border-radius: 50%;
  }
}

/* Media Querys */ 
@media screen and (max-width: 675px) {
  .center-link, .header-text {
    font-size: 22px;
    height: 90px;
    width: 150px;
    padding-right: 0;
    padding-left: 0;
  }
}
@media screen and (max-width: 900px) {
  .projects {
    flex-direction: column;
    top: 200px;
  }
}
@media screen and (max-width: 1100px) {
  .intro-video {
    height: 315px;
    width: 560px;
  }
}