/*! FONTS */

@font-face {
    font-family: 'gilroy-ultralightuploadedfile';
    src: url('fonts/gilroy-ultralight-webfont.woff2') format('woff2'),
         url('fonts/gilroy-ultralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'gilroy-ultralightuploadedfile';
    src: url('fonts/gilroy-ultralightitalic-webfont.woff2') format('woff2'),
         url('fonts/gilroy-ultralightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'montserratthin_italic';
    src: url('fonts/montserrat-italic-variablefont_wght-webfont.woff2') format('woff2'),
         url('fonts/montserrat-italic-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'montserratthin';
    src: url('fonts/montserrat-variablefont_wght-webfont.woff2') format('woff2'),
         url('fonts/montserrat-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'ralewaythin_italic';
    src: url('fonts/raleway-italic-variablefont_wght-webfont.woff2') format('woff2'),
         url('fonts/raleway-italic-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'ralewaythin';
    src: url('fonts/raleway-variablefont_wght-webfont.woff2') format('woff2'),
         url('fonts/raleway-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'zorus_serifitalic';
    src: url('fonts/zorus_serif_italic-webfont.woff2') format('woff2'),
         url('fonts/zorus_serif_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'zorus_serifnormal';
    src: url('fonts/zorus_serif-webfont.woff2') format('woff2'),
         url('fonts/zorus_serif-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;}

/*! HEADER/LINKS */

#header {
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: transparent;
  z-index: 2;
  opacity: .92;
  margin: 0 auto;
  font-family: 'montserratthin';
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: ghostwhite;
}
.left-links, .right-links, .center-link {
  display: flex;
  align-items: center;

}

.left-links,
.right-links, .left-links a, .link-rights a {
  position: fixed;
  top: 0;
  height: 50px;
  width: 100px;
  background-color: black;
  text-decoration: none;
  color: ghostwhite;
  font-size: 18px;
}
.left-links {
  border-radius: 0% 0% 150% 0%;
  left: 0;
}
.right-links {
  border-radius: 0% 0% 0% 150%;
  right: 0;
}
.left-links,
.center-link,
.right-links {
  background-color: black;
}
.left-links a,
.center-link a,
.right-links a {
  background-color: black;
}
.left-links a:hover,
.center-link a:hover,
.right-links a:hover {
  background-color: ghostwhite;
  color: black;
}
.expanded-links {
  display: none;
  position: absolute;
  top: 40px;
  left: 20px;
  background-color: black;
  border-radius: 50%;
  padding: 10px;
  z-index: 3;
}
.expanded-links.show,  {
  display: flex;
  align-items: center;
  flex-direction: column;
  left: 20px;
  top: 20px;
}
.link-left {
  color: ghostwhite;
  text-decoration: none;
}
.center-link, .header-text {
  height: 125px;
  width: 300px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 0% 0% 150% 150%;
  color: whitesmoke;
  text-decoration: none;
  font-size: 32px;
  font-family: 'zorus_serifnormal';
  position: fixed;
  left: 50%;
}

/*! MAIN BODY */

body {
  margin: 0 auto;
  width: 100%; 
  display: block;
  background-color: #333333;
  background-size: 20px 20px;
  font-family: 'ralewaythin';
}

.container-two {
  background-image: url('backgroundTwo.svg');
}

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding-top: 50px;
  top:100px;
}
.container-one {
  background-image: url('background.svg');
}

/*extra.html*/
#new-projects {
  top: 100px;
  position: absolute;
}
#projects {
  top: 100px;
}
.project-tile {
  min-width: 225px;
  padding: 25px;
}
/*background*/
.container-five {
  background-image: url('backgroundFive.svg');
}

#links {
  top: 100px;
}
.projects, #links {
  display:flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
}

.link, .extra-links {
  width: 75px;
  height: 75px;
  border-radius: 30%;
  padding-right: 10px;
  padding-left: 10px;
}

#links {
  top: 400px;
  padding-bottom: 25px;
  padding-right: 25px;
}

#upcoming {
  border-style: solid 1px;
  border-radius: 15%;
  width: 300px;
  height: 200px;
  margin: 20px 45px 40px 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: black;
  animation: upcoming-animation 4s linear 0s infinite alternate-reverse;
}

.upcoming-projects {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
}

.all-upcoming {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}
#lotusmane {
  top: 100px;
}
.lotusmane-coverart {
  top: 10px;
  height: 400px;
  position: relative;
  width: 500px;
  border-radius: 100%;
  object-fit: cover;
}

#beatpack {
  border: 1px dotted;
  border-radius: 4%;
  height: 40px;
  width: 120px;
  margin-bottom: 10px;
}

.about-me {
  width: 890px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: bisque;
  color: darkgray;
  opacity: .7;
  height: 400px;
  border-radius: 20% 20% 30% 30%;
}

p {
  width: 50%;
  font-family: georgia;
}

.beat {
  width: 100%;
  padding-top: 5px;
  margin: 0;
}

/* Background Shapes and Elements*/ 

.container-one, .container-two, .container-five {
  width: 100%;
  height: 100vh;
  top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-size: cover;
  position: absolute;
  text-align: center;
  color: ghostwhite;
  background-color: #000;
  background-repeat: repeat;
}

@keyframes upcoming-animation {
  from {
    width: 300px;
    height: 200px;
    border-radius: 15%;
  }
  to {
    width: 310px;
    height: 210px;
    border-radius: 50%;
  }
}

/* Media Querys */ 

@media screen and (max-width: 900px) {
  .projects {
    flex-direction: column;
    top: 200px;
  }
}
@media screen and (max-width: 1100px) {
  .intro-video {
    height: 315px;
    width: 560px;
  }
}